<ion-view cache-view="false"
          view-title="Welcome {{user.name}}">
          <!-- view-title="<div class=' icon ion-chatbubble  user-messages-top-icon
                      msg-header-username' > Welcome {{user.name}} </div>"> -->

    <ion-content has-bouncing="true" class="has-header has-footer"
          delegate-handle='scrollBottom' >
           <div ng-repeat="message in messages" class="message-wrapper">

              <!--   CHAT LEFT - Receiver - otros-->
               <ion-item  class="item item-avatar-left" ng-if="message.user_name != user.name">

                  <img class="pic-message-global left" ng-click="goChat(message.user_id,message.user_name)"
                        src="img/avatar.jpg" />
                    <div class="item-text-wrap  chat-bubble left">
                        <span class="bold">
                          {{message.user_name}}
                          <span class="flag-icon flag-icon-af "></span>
                        </span>
                        <div class="message"> {{message.content}}</div>
                    </div>
               </ion-item>
               <!--end CHAT LEFT - Receiver - otros-->

               <!--   CHAT RIGHT - Sender - yo-->
               <ion-item class="item item-avatar-right" ng-if="message.user_name == user.name">
                   <img class="pic-message-global right" ng-click="goChat(message.user_id,message.user_name)"
                         src="img/avatar.jpg" />
                    <div class="chat-bubble right">
                        <span class="bold">
                          {{message.user_name}}
                          <span class="flag-icon flag-icon-pe "></span>
                        </span>
                        <div class="message">{{message.content}}</div>
                        <div class="message-detail">
                          <div ng-if="visto == true" class="ion-checkmark-circled">visto</div>
                        </div>
                        </ion-item>
               </div>
               <!--end CHAT RIGHT - Sender - yo-->
           </div>
    </ion-content>


    <!--button SEND-->
      <ion-footer-bar  class="bar-stable item-input-inset"   >
            <label class="item-input-wrapper" >
                <input type="text" placeholder="Type your message" ng-model="message">
            </label>
            <button class=" button button-positive icon ion-android-send "
                    ng-click="pushMessage()" ng-disabled="!message || message === ''" ></button>
      </ion-footer-bar>
    <!--end button SEND-->

</ion-view>
