<ion-view title="Friend Requests" >
  <ion-content>
    <ion-list>

      <!--find -->
      <ion-item>
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="inputfind.filterUser" placeholder="Search">
          </label>
      </ion-item>
      <!--end find -->

      <!--item divider-->
      <div class="item item-divider">
                  Friend Request.
      </div>
      <!--item divider-->

      <!--item avatar-->
      <ion-item class="item item-avatar item-button-right" ng-repeat="stranger in strangerslist | filter:inputfind.filterUser">
            <img src={{stranger.img}}>
            <h2>{{stranger.name}}   </h2>
            <p>{{stranger.country}}, {{stranger.city}} </p>
            <button class="button button-positive icon ion-android-contacts"></button>

      </ion-item>
      <!--end item avatar-->


      <!--item divider-->
      <div class="item item-divider">
                  People you may know.
      </div>
      <!--item divider-->

      <!--item avatar-->
      <ion-item class="item item-avatar item-button-right" ng-repeat="friendRequest in friendRequestslist | filter:inputfind.filterUser">
          <img src={{friendRequest.img}}>
          <h2>{{friendRequest.name}}   </h2>
          <p>{{friendRequest.country}}, {{friendRequest.city}} </p>
          <button class="button button-positive icon ion-android-person-add" ng-click="addFriend(friendRequest)"></button>

      </ion-item>
      <!--end item avatar-->
    </ion-list>
  </ion-conten>
</ion-view>
