<ion-view title="messages" >



 <ion-content has-bouncing="true" class="has-header has-footer" delegate-handle="userMessageScroll">
           <div ng-repeat="mess in messages | orderBy:'sendAt':true" class="message-wrapper">

              <!--   CHAT LEFT - Receiver - otros-->

              <ion-item class="item item-avatar">

              <img ng-click="goChatWith(mess.conversationId,mess.messId1,mess.messId2,mess.contact_id)" src="img/homero.jpg"  >

                  <div class="message-detail">
                      <span class="bold">{{ mess.contact_name}}</span>
                      <!-- <span am-time-ago={{time}}></span> -->
                  </div>

                  <div class="message"> {{ mess.content}}</div>

               </ion-item>
               <!--end CHAT LEFT - Receiver - otros-->

        </div>
    </ion-content>





</ion-view>
