<ion-view title="Profile">

  <!-- <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search"></button>
  </ion-nav-buttons> -->

  <ion-content>

    <div id="profile-bg" style="background: url({{backgroundPicture}}) ">
      <p>&nbsp;</p><!--space blank-->
      <a class="button-right button button-outline icon-left ion-android-expand button-balanced"
         ng-click='popover.show($event)'>update photo</a> <!--button-balanced ... color verde-->
      <p>&nbsp;</p><!--space blank-->
      <p>&nbsp;</p><!--space blank-->
      <p>&nbsp;</p><!--space blank-->
      <p>&nbsp;</p><!--space blank-->
    </div>

    <div id="content">
      <div id="profile-info">
        <img id="profile-image" src={{user.img}}>
        <h3 id="profile-name">{{user.name}}</h3>
        <span id="profile-description">encuentranos en twitter<a href="polychat@twitter.com">@polychat</a></span>
        <ionic-ratings ratingsobj='ratingsObject2'></ionic-ratings>
      </div>
    </div>
    
    <div id="center">
      <p>&nbsp;</p><!--space blank-->
      <button class="button button-positive" ng-click="addFriend()">Add-friend</button>
      <button class="button button-positive" ng-click="message()">message</button>
      <button class="button button-positive" ng-click="response()">Response</button>
    </div>


  </ion-content>
</ion-view>
