

<!---->
<ion-view title="Tabs Controller"  hide-back-button="true" class="bar-positive">
    <ion-tabs class="tabs-positive tabs-icon-only ">

        <ion-tab title="notices" icon="ion-android-notifications "   href="#/tabsController/notice">
            <ion-nav-view name="notice-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="settings" icon="ion-android-person-add" href="#/tabsController/friendRequests">

            <ion-nav-view name="friendRequests-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="friends" icon="ion-android-contacts" href="#/tabsController/contacts" >
            <ion-nav-view name="contacts-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="chat-room" icon="ion-android-chat" href="#/tabsController/chatRoom" >
            <ion-nav-view name="chatRoom-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="profile" icon="ion-ios-contact" href="#/tabsController/profile" >
            <ion-nav-view name="profile-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

</ion-view>
