<ion-view title="Account" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="account-form4" class="list form-signup">
            <ion-list id="account-list3" class=" ">
                <label class="item item-input " id="account-input6">
                    <span class="input-label">a</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="account-input7">
                    <span class="input-label">b</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="account-input8">
                    <span class="input-label">c</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="tabsController.me" id="account-button15" class=" button button-stable  button-block icon-left ion-android-done-all ">Finish</a>
        </form>
    </ion-content>
</ion-view>