@charset "UTF-8";
/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
/*+++++++++++++++++++++++++++++++ POLYCHAT START +++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


:root{
  --color-chat-user: #5B6ABF;
  --color-chat-toUser: #5B6ABF;
}

.ionic_ratings .read_only {
  pointer-events:none !important;
}
/*tamaño estrellas */
.ionic_ratings .icon {
   font-size: 50px;
 }

img.profile-pic {

  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: -50px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}


.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: var(--color-chat-user);
  float: left;
  margin-left: 5px;
}

.chat-bubble.left:before {
  background-color: var(--color-chat-user);
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: var(--color-chat-toUser);
  color: #fff;
  float: right;
  margin-right: 5px;
}

.chat-bubble.right:before {
  background-color: var(--color-chat-toUser);
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}




/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++ POLYCHAT END +++++++++++++++++++++++++++++*/

@import "css/myionic.app.css";
