@charset "UTF-8";
/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
/*+++++++++++++++++++++++++++++++ POLYCHAT START +++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/




:root{
  --color-chat-user: #5B6ABF;
  --color-chat-toUser: #5B6ABF;
}

.ionic_ratings .read_only {
  pointer-events:none !important;
}
/*tamaño estrellas */
.ionic_ratings .icon {
   font-size: 35px; /*tamaño estrellas*/
 }

img.profile-pic {

  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: -50px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}


.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: var(--color-chat-user);
  float: left;
  margin-left: 5px;
}

.chat-bubble.left:before {
  background-color: var(--color-chat-user);
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: var(--color-chat-toUser);
  color: #fff;
  float: right;
  margin-right: 5px;
}

.chat-bubble.right:before {
  background-color: var(--color-chat-toUser);
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++ POLYCHAT END +++++++++++++++++++++++++++++*/

/**----------------prueba-------------------------*/


/*
.div-img
{
    background: color url('img/que-no-pare-la-fiesta.gif') others;
}*/

ion-popover-view.fit {
  height: 163px;
}

.right{
  float: right;
}

.button-right{
  float:right;
  text-align:right;
}

.popover-opacity {
    /*background-color:rgba(255,0,0,0.5);*/
    /*color:#fff;*/
    background:#000;
    opacity:0.4;

}


#profile-bg {
        position: fixed;
        left: 0;
        top: -150px;
        width: 100%;
        /*height: 20px;*/
        /*background-image: url("img/homero.jpg");*/
        /*background-color: red;*/
        /*background: color url('.../img/homero.jpg') others;*/
        opacity: 0.7;
        /*background: url('img/homero.jpg') no-repeat transparent;*/
        /*background-size: 100%;*/
        /*background-position: 50% 20%;*/
        text-align: center;  /*primero texto*/
      }

#content {
  position: relative;
  margin-top: 150px;
  background-color: #E6E6E6;
  box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
  padding-top: 250px; /*tamaño espacio*/
}

#profile-info {
  position: absolute;
  top: -95px;
  width: 100%;
  /*z-index: 2;*/
  text-align: center;
}
#profile-name {
  color: #444;
  font-size: 26px;
}
#profile-image {
  border-radius: 100px;
  display: block;
  border: 3px solid #fff;
  width: 160px;
  height: 160px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}



#profile-description {
  font-size: 15px;
  color: #888;
}
#profile-description a {
  color: #888;
}


.list-item-content {
  padding: 5px;
}

.list-item {
  color: #666666;
}

.post {
  color: #444;
}

.post-time {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 11px;
  color: #888;
}

.post-profile-image {
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.post-options {
  position: absolute;
  font-size: 16px;
  right: 5px;
  bottom: 5px;
  color: #888;
}


/*------------------fin prueba-------------------------*/






@import "css/myionic.app.css";
